<!DOCTYPE html>
<html>
<head>

  <base href="">

  <title>New Tab</title>
  <meta charset="UTF-8">
  <script src="js/const.global.js"></script>
  <script src="js/const.js"></script>
  <script src="js/bootstrap.js"></script>

  <meta http-equiv="Cache-control" content="public">

  <link rel="stylesheet" href="stylesheets/muzli.css"/>
</head>

<body
  style="display: none;"
  ng-app="muzli"
  ng-keyup="bodyKeyUp($event)"
  ng-keydown="bodyKeyDown($event)"
  ng-class="{
    bootstrapped: bootstrapped,
    dark: theme === 'dark',
    menuOpen: menuOpen && !vm.showSignInDialog && !vm.showSignInDialogReLogin && !vm.showSignInDialogReLoginWithoutScratch && !vm.showThanksYouSignInDialog,
    uninstallOpen: uninstall,
    overlay: vm.showSignInDialog || vm.showSignInDialogReLogin || vm.showSignInDialogReLoginWithoutScratch || vm.showThanksYouSignInDialog || vm.showFtxLast || vm.showWelcomeOld || blocker}"
  class="{{getFeedClass()}} {{getFtxStepClass()}}" ng-strict-di>

<div id="overlay"></div>

<!-- Main wrapper -->
<div id="container">

  <header ng-controller="headerController">

    <div class="pull-left">
      <a class="logo" ng-class="{active: !currentSource}" class="active" href="" ng-click="clickLogo()"></a>
    </div>

    <api-version></api-version>

    <div class="pull-right">

      <div class="mostVisitedContainer" ng-cloak>

        <div class="placeholder" ng-if="showEnableAuthRecentSites || vm.ftxStep === 1">
          <div class="container">

            <div class="enableMessage">
              <span class="message" ng-if="!showTopSitesReminder">Your most visited websites</span>
              <p>Keep seeing your links from the default Chrome new tab page.</p>
              <span class="message" ng-if="showTopSitesReminder"><strong>Hint:</strong> you can see your top websites here, to access them quicker.</span>
              <span class="privacy">&#x1f512; We care about your privacy. We do not track your browsing activity.</span>
            </div>

            <a href="" class="icon-close" title="Dismiss" ng-click="::authRecentSitesAction(false, 'Quick access', 'Hide')"></a>
            <a href="" ng-click="::authRecentSitesAction(true, 'Quick access', 'Approve')">Enable</a>
          </div>
        </div>

        <ul class="mostVisited" ng-if="recentSites.length && !showTopSitesReminder && !vm.ftxStep" ng-cloak>
          <li title="Apps"
              class="chrome-store-icon">
            <a ng-click="::goToChromeApps()" href=""></a>
          </li>
          <li ng-repeat="site in recentSites"
              title='{{site.cleanUrl}}'
              ng-class="{error: site.error}"
              style="{{site.imgUrl ? 'background-image: url(' + site.imgUrl + ')' : '' }}">
            <a ng-href='{{site.url}}' ng-click="events.quickAccess.click(site.cleanUrl)"></a>
          </li>
        </ul>

      </div>

      <div class="search-container angular-animate" ng-if="isSearchOpen" ng-cloak>

        <form ng-submit="::search(searchText, $event)" id="searchForm">

          <div class="input {{defaultSearch}}">

            <input tabindex="1" maxlength="50" type="text" ng-model="searchText" placeholde="Search Google or Muzli" name="q" ng-blur="collapseSearch(searchText)" autofocus="400" select-on-click lookahead/>

            <div class="searchOptions">
              <a href="" ng-class="{ default: defaultSearch === 'muzli', active: activeSearch === 'muzli' }" class="muzli icon-muzli" title="Muzli search" ng-click="search(searchText, $event, 'muzli')"></a>
              <a href="" ng-class="{ default: defaultSearch === 'google', active: activeSearch === 'google' }" class="google icon-google" title="Google search" ng-click="search(searchText, $event, 'google')"></a>
            </div>

          </div>
        </form>
      </div>

      <div class="nav-icon search"
        ng-click="isSearchOpen = true"
        ng-show="!isSearchOpen"
        ng-class="{animate: !killSearchAnimation}">
        <i class="icon-search"></i>
      </div>

      <div class="nav-icon favorites"
         ng-cloak
         ng-show="user && !user.anonymous"
         ng-click="::clickUser()"
         ng-class="{active: user.favoriteCount}"
         >
        <i class="icon-fav"></i>
      </div>

      <div class="nav-icon notifications" ng-class="{active: user.unreadNotificationCount}">

        <div ng-click="toggleNotifications()">
          <i class="icon-notification"></i>
          <span class="count" ng-bind="user.unreadNotificationCount" ng-if="user.unreadNotificationCount" ng-cloak></span>
        </div>

        <div class="dropdown" ng-if="areNotificationsOpen" ng-cloak click-outside="toggleNotifications()" ng-class="{'all-loaded': notifications.length <= 4}">

          <div class="title">
            <p class="pull-left">You have {{user.unreadNotificationCount || 0}} new message<span ng-if="user.unreadNotificationCount !== 1">s</span></p>
          </div>

          <div class="messages">
            <ul scroll-events scroll-events-init="manual">

              <li ng-repeat="notification in notifications | orderBy:'pushedAt':true | limitTo:notificationDisplayLimit " ng-class="{
                'unread': notification.isUnread,
                'static': notification.static
              }">
                <div class="avatar">
                  <span class="icon-muzli" ng-if="::!notification.avatar"></span>
                  <img ng-src="{{notification.avatar}}" alt="{{notification.name}}" ng-if="::notification.avatar">
                </div>
                <div class="message cf">
                  <div class="timestamp">{{::notification.pushedAt | date:'MMM d'}}</div>
                  <p bind-html-compile="notification.content"></p>
                  <div class="cta" ng-if="notification.cta" bind-html-compile="notification.cta" ng-click="logNotificationCta(notification, $event)"></div>
                </div>
              </li>

            </ul>
          </div>

          <div class="messages-empty" ng-if="!notifications.length">
            <span>There are no messages for you</span>
          </div>

          <div class="footnote" ng-if="notifications.length > 4">
            <a href="" ng-click="showAllNotifications()">See all</a>
          </div>

        </div>
      </div>

      <a class="login-cta"
         href=""
         ng-cloak
         ng-show="(user.anonymous || !user)"
         ng-click="::signIn()">
         Sign In
      </a>

      <a id="menuOpener" class="menu" href="" ng-click="openMenu()" ng-cloak ng-show="(user.anonymous || !user) && vm.ftxStep !== 3"></a>

      <a class="userIcon"
         href=""
         ng-cloak
         ng-show="user && !user.anonymous"
         ng-click="openMenu()"
         id="menuOpener"
         >
         <img class="avatar" ng-src="{{::user.photo}}" alt="" ng-if="user.photo"/>
         <i class="icon-user" ng-if="!user.photo"></i>
      </a>

      <a class="userIcon"
         ng-cloak
         ng-show="vm.ftxStep === 3 && user.anonymous"
         >
         <i class="icon-user"></i>
      </a>

    </div>
  </header>

  <div class="alert {{alerts[0].type}}" ng-if="alerts.length" ng-cloak>
    <i></i>
    <span bind-html-compile="alerts[0].content" ng-click="logAlertCta(alerts[0], $event)"></span>
    <a href="" class="close" ng-click="closeAlert(alerts[0])"></a>
  </div>

  <!-- Main content -->
  <main>

    <div ui-view></div>

    <div class="video-container">
      <div class="iframe-wrapper"></div>
      <div class="close" ng-if="currentPlayingItem.isPopup" ng-click="closeVideoPopup()" ng-cloak><span class="icon-close"></span></div>
    </div>

    <a class="signature" href="http://app.muz.li/go?link=https://invisionapp.com/">
      <span>Muzli by</span>
      <i class="icon-invision"></i>
    </a>

    <div id="oops" ng-show="errors.length" class="ng-hide">
      <h2>Oops! Something went wrong</h2>
      <p>Doing one of the following things could help:</p>
      <ul>
        <li>Checking the network cable or router</li>
        <li>Resetting the modem or router</li>
        <li>Reconnecting to Wi-Fi</li>
      </ul>
      <a href="" class="cta" ng-click="reload()">Try again</a>
    </div>

    <div ng-click="::jumpToRecent()" id="scrollIndicator" ng-if="!feedVisibleClass" ng-hide="errors.indexOf('all-error') > -1">
      <div class="progress"></div>
      <i></i>
    </div>

  </main>
  <!-- /Main content -->

  <!-- Sidebar -->
  <nav id="sidebar" class="sidebar"
    ng-class="{
      hover: openSidebar || searchSources,
      sorting: sourcesDragged
    }"
    ng-mouseenter="::mouseEnterSidebar()"
    ng-mouseleave="::mouseLeaveSidebar()"
    click-outside="::clickOutsideSidebar()"
    ng-hide="!sources || !sources.length" >

    <header>
      <a class="logo" ng-class="{active: !currentSource}" class="active" href="" ng-click="clickLogo()"></a>
      <a class="sidebarMenu" ng-click="hive.show($event)" href="" title="Add or remove feeds"><span ng-if="hive.neverOpened" class="pulsate"><i></i></span>EDIT</a>
    </header>

    <div class="sourceSearch" ng-hide="sourcesDragged">
      <div class="searchContainer">
        <input type="text" ng-model="searchSources" ng-model-options="{ debounce: 500 }" ng-keydown="searchSourcesKeyDown($event, filteredSources)" placeholder="Search for feeds" ng-blur="blurSearchSources()">
      </div>
    </div>

    <ul class="sourcesConstant" muzli-home-switch="homeSwitched" ng-hide="searchSources">

      <li class="enabled" ng-class="{ active: currentSource === 'sources' }" ng-click="clickSource()">
        <i class="source all-sources-icon"></i>
        <span>All your feeds</span>
      </li>

      <li class="enabled"
          ng-class="{ active: (currentSource && currentSource.name === muzli.name), unread: muzli.read === false }"
          ng-click="clickSource(muzli)">

          <i class="source" style="background-image: url(images/icon_muzli.png);"></i>
          <span>{{::muzli.title}}</span>
      </li>

    </ul>

    <ul class="sources" ui-sortable="sideBarSortableOptions" ng-model="::sources">

      <li ng-repeat="source in sources | sourcesFilter:searchSources as filteredSources track by source.name"
          data-source="{{::source.name}}"
          ng-click="clickSource(source)"
          ng-class="{
            enabled: source._enabled,
            active: (currentSource && source.name === currentSource.name),
            unread: source.read === false,
            preFocused: preFocusedSourceIndex === $index
          }">

        <i href=""
          class="source"
          ng-style="::{'background-image': 'url(images/icon_{{source.name}}.png)'}"></i>

        <span>{{::source.title}}</span>

        <a ng-if="::source.url" tabindex="-1" ng-href="https://app.muz.li/go?link={{::source.url}}/" target="_blank" class="feedLink icon-link" ng-click="events.sidebar.clickLink(source.name, $event)" title="Go to {{::source.title}}'s website"></a>
      </li>
    </ul>

    <div class="moreFeeds" ng-click="hive.show($event)" ng-show="searchSources">
      <a href="">More feeds</a>
    </div>
  </nav>
  <!-- /Sidebar -->

  <aside class="aside" click-outside="::closeMenu()" outside-if-not="menuOpener, aside" >

    <!-- Uninstall -->
    <div id="uninstall">
      <h3>Too Much? That's okay</h3>
      <p>Our Lite version<br /><strong style="font-weight: 700;background: lemonchiffon;">does not override your default new tab</strong>.<br />Muzli will still be accessible by clicking the icon. ( <img src="icon19.png" alt="" style="height: 13px;vertical-align: middle;"> )</p>
      <a href="" class="switchToLite" ng-click="::switchToLite()">Try the Lite Version</a>
      <a href="" ng-click="::uninstallClick()">No thanks, remove Muzli completely</a><br /><br />or <a href="" ng-click="::uninstallIntentCancel()">cancel and go back</a>
    </div>
    <!-- / Uninstall -->

    <!-- Settings -->
    <div id="settings" class="cf" ng-class="{ isLite: isLiteVersion === true || isLiteVersion === false }" >

      <div id="user" ng-cloak>

        <div class="loggedIn" ng-show="user && !user.anonymous">
          <div class="userInfo">
            <img class="avatar" ng-src="{{::user.photo}}" alt="" ng-if="user.photo"/>
            <i class="icon-user" ng-if="!user.photo"></i>
            <h5 ng-bind="::user.displayName"></h5>
            <span>via <span ng-bind="::(user.provider && (user.provider[0].toUpperCase() + user.provider.substr(1)))"></span></span>
          </div>

          <a tabindex="-1" href="" ng-click="::logOut()">Logout</a>
        </div>

        <div class="anonymous" ng-show="(user.anonymous || !user) && isUserResolved">
          <div class="userInfo">
            <h5>Sign in to get more from Muzli</h5>
          </div>
          <a href="" ng-click="signIn()">Sign in</a>
        </div>

      </div>

      <div ng-if="isLiteVersion === true || isLiteVersion === false" class="makeHome">
        <div ng-class="{'true': !isLiteVersion}" class="toggle" ng-click="::toggleIsLiteVersion()"><i></i>  Make Muzli your homepage</div>
      </div>

      <div class="layout" ng-if="!hideEnableAuthRecentSitesSetting || toggleMinimalView">

        <h5>View Preferences</h5>

        <ul class="appUtils">

          <li ng-if="!hideEnableAuthRecentSitesSetting">
            <div ng-class="{ 'true': !!recentSites }" class="toggle" ng-click="::authRecentSitesAction(!recentSites)"><i></i> Enable most visited</div>
          </li>
          <li ng-if="toggleMinimalView">
            <div ng-class="{'true': isSwitchedToHalfViewIndicator}" class="toggle" ng-click="::toggleMinimalView()"><i></i> Full view on load</div>
          </li>
        </ul>

        <div class="preview" ng-class="{
          layout_1: (recentSites && !isSwitchedToHalfView),
          layout_2: (!recentSites && !isSwitchedToHalfView),
          layout_3: (!recentSites && isSwitchedToHalfView),
          layout_4: (!recentSites && isSwitchedToHalfView),
          layout_5: (recentSites && isSwitchedToHalfView),
          layout_6: (recentSites && isSwitchedToHalfView),
          layout_7: (!recentSites && !isSwitchedToHalfView),
        }"></div>
      </div>


      <div class="defaultFeed cf">
        Default feed
        <div class="theme">
          <span ng-class="{ active: homeSwitched }" class="picks icon-bolt" title="Muzli picks" ng-click="::homeSwitch(true)"></span>
          <span title="All feeds" ng-class="{ active: !homeSwitched }" class="all icon-star" ng-click="::homeSwitch(false)"></span>
        </div>
      </div>

      <div class="defaultSearch cf">
        Default search
        <div class="search">
          <span class="muzli icon-muzli" title="Muzli search" ng-class="{ default: defaultSearch === 'muzli' }" ng-click="::setDefaultSearch('muzli')"></span>
          <span  class="google icon-google" title="Google search" ng-class="{ default: defaultSearch === 'google' }" ng-click="::setDefaultSearch('google')"></span>
        </div>
      </div>

      <div class="themeToggle cf">
        Color theme
        <div class="theme">
          <span ng-click="setTheme('dark')" class="dark" title="Dark theme" ng-class="{active: theme === 'dark'}"><i class="icon-check"></i></span>
          <span ng-click="::setTheme('white')" title="Light theme" class="light" ng-class="{active: theme === 'white'}"><i class="icon-check"></i></span>
        </div>
      </div>

      <div class="sharebleToggle cf">
        <label>Show content suggestions for outgoing links</label>
        <div class="control">
          <span ng-click="::toggleSharebleLinks(false)" title="Don't show suggestions" class="hide" ng-class="{active: enableSharebleLinks === false}"><i class="icon-close"></i></span>
          <span ng-click="toggleSharebleLinks(true)" class="show" title="Show suggestions" ng-class="{active: enableSharebleLinks === true}"><i class="icon-check"></i></span>
        </div>
      </div>

      <div class="paletteToggle cf">
        <label>Show color palettes on cards</label>
        <div class="control">
          <span ng-click="::togglePalettes(false)" title="Don't show palettes" class="hide" ng-class="{active: enablePalettes === false}"><i class="icon-close"></i></span>
          <span ng-click="togglePalettes(true)" class="show" title="Show palettes" ng-class="{active: enablePalettes === true}"><i class="icon-check"></i></span>
        </div>
      </div>

      <div class="separator"></div>

      <div class="links">
        <div class="contact">
          <ul>
            <li ng-repeat="item in contactLinks"><a ng-href="{{::item.href}}" ng-click="::events.settingsMenu.clickLink(item.text)" ng-bind="item.text"></a></li>
          </ul>
        </div>
      </div>

      <a tabindex="-1" id="uninstallLink" ng-click="::uninstallIntent()" href="" ng-if="::isExtension">Uninstall Muzli</a>

      <div class="social">

        <p class="pull-left">Also follow Muzli in</p>

        <div class="list pull-right">
          <a class="medium icon-medium" href="https://medium.com/@usemuzli"></a>
          <a class="fb icon-facebook" href="https://facebook.com/usemuzli" title="::muzliSocial.facebook"></a>
          <a class="twitter icon-twitter" ng-click="::twitterFollow()" href="" title="::muzliSocial.twitter"></a>
        </div>

        <div class="subscribe">
          <a class="muzli" href="https://muz.li">https://muz.li</a>
          <a href="" class="copy" click-copy="https://muz.li" ng-class="{success: copySuccess}">Copy to clipboard</a>
        </div>

      </div>
    </div>
    <!-- / Settings -->


  </aside>

  <!-- NG view for blocker screens -->
  <div ui-view="blocker" autoscroll="false"></div>

  <!-- Sources -->
  <div class="sourceInventoryWrapper" ng-if="hive.showSourceInventory" ng-cloak>
    <div>
      <div class="sourceInventory">


        <header>
          <a class="logo" ng-class="{active: !currentSource}" class="active" href="" ng-click="clickLogo()"></a>
        </header>

        <div class="title" ng-if="hive.ftx">
          <h1>What interests you?</h1>
          <p>Get started by choosing one or more of the most popular presets.</p>
        </div>

        <div class="title" ng-if="!hive.ftx">
          <h1>Choose which channels you want to follow</h1>
          <p>Enable or disable any of the content sources below.</p>
        </div>

        <div class="bundles cf" ng-if="hive.ftx && !hive.ftxOld">
          <div class="bundle design" ng-class="{active: bundles.design.active}" ng-click="hive.toggleBundle('design')">
            <div class="tile">
              <p><strong>Top in</strong></p>
              <h2>Design &amp; Inspiration</h2>
              <p>Including Dribbble, Designer News, Awwwards, Behance, Sidebar, Fubiz, Colossal, Bored Panda and more...</p>
          </div>
          <button>
            <i class="icon-plus"></i>
            <i class="icon-check-lite"></i>
          </button>
          </div>
          <div class="bundle tech" ng-class="{active: bundles.tech.active}" ng-click="hive.toggleBundle('tech')">
            <div class="tile">
              <p><strong>Top in</strong></p>
              <h2>Technology &amp; Code</h2>
              <p>Including Product Hunt, Techcrunch, Hacker News, The Verge, Smashing Magazine, Betalist, Wired, The Next Web, Engaget and more...</p>
          </div>
          <button>
            <i class="icon-plus"></i>
            <i class="icon-check-lite"></i>
          </button>
          </div>
          <div class="bundle code" ng-class="{active: bundles.news.active}" ng-click="hive.toggleBundle('news')">
            <div class="tile">
              <p><strong>Top in</strong></p>
              <h2>News & Business </h2>
              <p>Including CNN, Vice, BBC, Vox, Techcrunch, NPR, Buzzfeed, Forebes, Business Insider, Mashable, NNY Times and more...</p>
          </div>
          <button>
            <i class="icon-plus"></i>
            <i class="icon-check-lite"></i>
          </button>
          </div>
          <div class="bundle news" ng-class="{active: bundles.culture.active}" ng-click="hive.toggleBundle('culture')">
            <div class="tile">
              <p><strong>Top in</strong></p>
              <h2>Culture</h2>
              <p>Including Mashable, TED, Uncrate, Colossal, Vox, Buzzfeed, My Modern Met, Time, Daily Dot, Kottke, Lifehacker, Line25 and more...</p>
          </div>
          <button>
            <i class="icon-plus"></i>
            <i class="icon-check-lite"></i>
          </button>
        </div>
        </div>

        <div ng-if="!hive.hideSources" ng-class="{'ftx-sources': hive.ftx}">

          <div class="filters pull-left">

            <span ng-class="{active: !hive.tagFilters.design && !hive.tagFilters.tech && !hive.tagFilters.news && !hive.tagFilters.culture}" ng-click="::hive.toggleFilter()">All</span>

            <span ng-class="{active: hive.tagFilters.design }" ng-click="::hive.toggleFilter('design')">Design &amp; Inspiration</span>
            <span ng-class="{active: hive.tagFilters.tech }" ng-click="::hive.toggleFilter('tech')">Technology &amp; Code</span>
            <span ng-class="{active: hive.tagFilters.news }" ng-click="::hive.toggleFilter('news')">News &amp; Business</span>
            <span ng-class="{active: hive.tagFilters.culture }" ng-click="::hive.toggleFilter('culture')">Culture</span>
          </div>

          <div class="search pull-right">
            <input type="text" ng-model="hive.search" ng-model-options="{ debounce: 300 }" placeholder="Search for feed name or tags (design, news etc.)">
            <i class="icon-search"></i>
          </div>

          <section class="sourceHive">
            <ul>

              <li ng-repeat="source in sources | sourcesHiveFilter:hive.search:hive.tagFilters:hive.showSourceInventory as filteredSourcesHive track by source.name"
                 ng-class="{ disabled: !source._enabled, featured: source.featured, new: source.new}"
                 ng-click="::hive.toggle(source)">

                <div class="title source"
                  ng-class="{nsfw:source.nsfw}"
                  ng-style="::{'background-image': 'url(images/icon_{{source.name}}.png)'}">{{::source.title}}</div>

                <div class="description">{{::source.description}}</div>
                <footer class="sourceFooter">
                  <div class="tags">
                    <span ng-repeat="tag in source.tags" ng-click="::hive.search = tag">{{::tag}}</span>
                    </div>
                    <div class="button">
                      <a href="" ng-class="{
                        enabled: source.name === 'muzli',
                        'icon-plus-lite': !source._enabled,
                        'icon-check-lite': source._enabled
                        }">
                      </a>
                    </div>
                </footer>
              </li>
             </ul>
          </section>

          <section class="related" ng-if="hive.search && filteredSourcesHive && filteredSourcesHive.length">
            <h3><span>Related feeds</span></h3>
            <ul>
              <li ng-repeat="source in sources | relatedSourcesHiveFilter:filteredSourcesHive track by source.name"
                  ng-class="{ disabled: !source._enabled}"
                  ng-click="::hive.toggle(source)">

                <div class="title source"
                ng-style="::{'background-image': 'url(images/icon_{{source.name}}.png)'}">{{::source.title}}</div>

                  <div class="description">{{::source.description}}</div>
                  <footer class="sourceFooter">
                    <div class="tags">
                      <span ng-repeat="tag in source.tags" ng-click="::hive.search = tag">{{::tag}}</span>
                    </div>
                    <div class="button">
                      <a href="" ng-class="{
                        enabled: source.name === 'muzli',
                        'icon-plus-lite': !source._enabled,
                        'icon-check': source._enabled
                        }">
                      </a>
                    </div>
                  </footer>
               </li>
            </ul>
          </section>
        </div>

        <div class="footer">
          <div class="controls">
            <button class="cta cancel" ng-click="::hive.cancel()" ng-if="!hive.ftx">Cancel</button>
            <button class="cta done" ng-click="::hive.complete($event)" ng-if="!hive.ftx">Done</button>
            <button class="cta done" ng-click="::saveSelectedBundles()" ng-disabled="!(sources | filter:{_enabled:true}).length" ng-if="hive.ftx">Save my choices</button>
          </div>
          <div class="counter" ng-if="!hive.hideSources">
            {{(sources | filter:{_enabled:true}).length}} selected.
            <a href="" ng-click="hive.clearAllSources()">Clear all</a>
          </div>
          <div class="counter" ng-if="hive.hideSources">
            <a href="" ng-click="hive.hideSources = false">Select individual sources</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Auth -->
  <dialog class="auth" ng-if="vm.showSignInDialog" click-outside="vm.showSignInDialog = false" outside-if-not="auth, aside" ng-cloak>

    <i class="icon-muzli"></i>

    <div ng-if="user.hasUserLogin">

      <p>Sign back in to fetch your preferences.</p>

      <a class="button google" href="" ng-click="loginGoogle()" ng-if="!user.provider || user.provider === 'google'">Sign in with Google</a>
      <a class="button facebook" href="" ng-click="loginFacebook()" ng-if="!user.provider || user.provider === 'facebook'">Sign in with Facebook</a>
      <a class="button twitter" href="" ng-click="loginTwitter()" ng-if="!user.provider || user.provider === 'twitter'">Sign in with Twitter</a>

      <p>Other Sign In options:</p>
      <p class="alt-auth" ng-if="user.provider">
        <i class="icon-google" ng-click="loginGoogle()" ng-if="user.provider !== 'google'"></i>
        <i class="icon-facebook" ng-click="loginFacebook()" ng-if="user.provider !== 'facebook'"></i>
        <i class="icon-twitter" ng-click="loginTwitter()" ng-if="user.provider !== 'twitter'"></i>
      </p>

      <p  class="note spacing">
        <strong>We'll never</strong> post to Twitter, Facebook or Google on your behalf or without permission.
      </p>

    </div>

    <div ng-if="!user.hasUserLogin" is-eu-user>

      <p>Create an account to unlock all the benefits of Muzli - easily save, like, or submit your favorite content.</p>

      <a class="button google" href="" ng-click="loginGoogle()">Sign up with Google</a>
      <a class="button facebook" href="" ng-click="loginFacebook()">Sign up with Facebook</a>
      <a class="button twitter" href="" ng-click="loginTwitter()">Sign up with Twitter</a>

      <label ng-if="isGDPR">
        <input type="checkbox" ng-model="user.sendNewsletter" ng-true-value="false" ng-false-value="true">
        <span class="checkbox"><i class="icon-check"></i></span>
        <span>I’m not interested in updates about InVision products and services.</span>
      </label>


      <a href="" class="skip" ng-if="vm.ftx || $state.current.name === 'source-config'" ng-click="::skipFtxLogin()">I'll sign up later (your choices will not be saved)</a>

      <div class="notes">
        <p>
          By signing in I agree to InVision's <a href="https://www.invisionapp.com/terms" target="_blank">Terms of Service</a> and <a href="https://www.invisionapp.com/privacy" target="_blank">Privacy Policy</a>.
        </p>
        <p>
          <strong>We'll never</strong> post to Twitter, Facebook or Google on your behalf or without permission.
        </p>
      </div>

    </div>
  </dialog>
  <!-- /Auth -->

  <!-- Auth ReLogin: Shows if user has already created account and tries to modify sources while logged out -->
  <dialog class="auth" ng-if="vm.showSignInDialogReLogin || vm.showSignInDialogReLoginWithoutScratch" click-outside="vm.showSignInDialogReLogin = false; vm.showSignInDialogReLoginWithoutScratch = false" outside-if-not="auth, aside" ng-cloak>
    <h4>Sign in to your account</h4>
    <p>Your preferences have already been saved before, sign in to sync them again.</p>
    <a class="button google" href="" ng-click="loginGoogle()">Sign in with Google</a>
    <a class="button facebook" href="" ng-click="loginFacebook()">Sign in with Facebook</a>
    <a class="button twitter" href="" ng-click="loginTwitter()">Sign in with Twitter</a>
    <br /><a class="minorLink" href="" ng-if="!vm.showSignInDialogReLoginWithoutScratch" ng-click="hive.show($event, true)">No thanks, I'll start from scratch</a>
  </dialog>
  <!-- /Auth -->

  <!-- Share promo -->
  <dialog class="shareMuzli" ng-if="user && !user.anonymous && vm.showThanksYouSignInDialog" click-outside="vm.showThanksYouSignInDialog = false"  outside-if-not="shareMuzli, aside" style="background-image:url({{user ? user.photo : ''}});" ng-cloak >
    <h4>Hi {{user.name.givenName}},</h4>
    <h5>Thank you for signing up!</h5>
    <p>If you like what we do, please tell your friends and share the love for Muzli.</p>
    <div class="socials">
      <a ng-click="::shareAfterLogin('facebook')" href="" class="fb"></a>
      <a ng-click="::shareAfterLogin('twitter')" href="" class="twitter"></a>
      <a ng-click="::shareAfterLogin('linkedin')" href="" class="linkedin"></a>
    </div>
  </dialog>
  <!-- /Share promo -->


  <!-- FTX V2 -->
  <div class="ftx-tip sidebar-promo" ng-if="vm.ftxStep === 2" ng-cloak>

    <i class="icon-close" ng-click="vm.ftxStep = false"></i>

    <h3>Navigate &amp; customize the content you see</h3>
    <p>This is where you can focus on specific sources.<br />Add or remove sources by hitting the "Edit" button at the top.</p>
    <nav>
      <a href="" ng-click="vm.ftxPrev()" ng-if="!isMuzliSafari">Back</a>
      <a href="" class="active" ng-click="vm.ftxNext()">Next</a>
    </nav>
  </div>

  <div class="ftx-tip settings-promo" ng-if="vm.ftxStep === 3" ng-cloak>

    <i class="icon-close" ng-click="vm.ftxStep = false"></i>

    <h3>Set your user &amp; display preferences</h3>
    <p>
      You can change display settings, add shortcuts to your most visited sites, change color theme,<br />and more...
    </p>
    <nav>
      <a href="" ng-click="vm.ftxPrev()">Back</a>
      <a href="" class="active" ng-click="vm.ftxNext()">Next</a>
    </nav>
  </div>

  <div class="ftx-tip scroll-promo" ng-if="vm.ftxStep === 4" ng-cloak>

    <i class="icon-close" ng-click="vm.ftxStep = false"></i>

    <h3>Scroll to discover</h3>
    <p>Scroll down or click here to see the most popular or recent content.</p>
    <nav>
      <a href="" ng-click="vm.ftxPrev()">Back</a>
      <a href="" class="active" ng-click="vm.showFtxLast = true; vm.ftxStep = false">Next</a>
    </nav>
  </div>


  <!-- Welcome bundles -->
  <dialog class="welcome-old" ng-if="vm.showWelcomeOld" click-outside="vm.showWelcomeOld = false" outside-if-not="welcome" ng-cloak>
    <h4>Welcome to Muzli!</h4>
    <h5>
      What are you most interested in?
    </h5>
    <p>Choosing one of the below presets will help you get started.<br />Don't worry, you can always go back and edit your preferences.</p>
    <div class="bundles">
      <a class="bundle default" title="Including: Dribbble, DN, Behance, Product Hunt, Awwwards, Sidebar and 15 more..." href="" ng-click="clickBundle('design')">Inspiration</a>
      <a class="bundle tech" href="" title="Including: Techcrunch, The Verge, Product Hunt, Hacker News, TED, Mashable and 15 more..." ng-click="clickBundle('tech')">Tech</a>
    </div>
    <p class="more">Not interested in any of those? <a href="" ui-sref="source-config({ftxOld: true})">Manually customize your feed</a></p>
  </dialog>
  <!-- /Welcome bundles -->


  <!-- Last FTX dialog -->
  <dialog class="reward" ng-if="vm.showFtxLast" click-outside="vm.showFtxLast = false" outside-if-not="reward" ng-cloak>
    <h2>And... you're done!</h2>
    <p>We hope you will love us as much as we love you.</p>
    <button class="cta" ng-click="vm.showFtxLast = false; hive.showScrollPromo = true">Start using Muzli</button>
  </dialog>


  <!-- User error bubble -->
  <div id="errorBubble" class="error" ng-cloak ng-class="{ hide: userError && (hideUserError || vm.showSignInDialog || vm.showSignInDialogReLogin || vm.showSignInDialogReLoginWithoutScratch || vm.showThanksYouSignInDialog), show: userError && !hideUserError && !vm.showSignInDialog && !vm.showSignInDialogReLogin && !vm.showSignInDialogReLoginWithoutScratch && !vm.showThanksYouSignInDialog}" click-outside="clickOutsideBubble()">
    <p ng-if="userError === '401'" class="message">You were signed out, click here to <a href="" class="auth" ng-click="signIn()">sign-in</a>.</p>
    <p ng-if="userError === 'missing_email'" class="message">Your Muzli account is pending due to missing info.<br /><a href="" ng-click="clickUser()">Click here</a> to continue.</p>
    <p ng-if="userError === 'general_error'" class="message">Oops, something went wrong. Try <a href="" ng-click="reloadPage()">reloading</a> Muzli</p>
  </div>
  <!-- /User error bubble -->


  <!-- Blocker dialog -->
  <dialog class="blocker" ng-if="blocker" ng-cloak click-outside="shakeBlocker()" outside-if-not="wrapper">
    <div class="wrapper" ng-if="!blocker.loading">
      <div class="avatar">
        <span class="icon-muzli" ng-if="::!blocker.avatar"></span>
        <img ng-src="{{blocker.avatar}}" alt="{{blocker.name}}" ng-if="::blocker.avatar">
      </div>
      <h4>{{blocker.name}}</h4>
      <p>{{blocker.content}}</p>
      <button ng-click="updateExtension($event)"><i class="icon-refresh"></i>UPDATE NOW</button>
    </div>
    <div class="wrapper" ng-if="blocker.loading">
      <div class="avatar">
        <div class="spinner"></div>
      </div>
      <h4>Just one moment...</h4>
      <p>
        This notification should disappear automatically after the update. If it doesn't - try reloading this tab.
        <br>
        <small>
          Still not updating?
          <a href="https://medium.muz.li/how-to-update-muzli-for-the-latest-version-5f237dd7f18a" target="_bank">
          Update manually
          </a>
        </small>
      </p>
    </div>
  </dialog>


</div>
<!-- /Main wrapper -->

<script src="js/bootstrap-body.js"></script>
<script src="lib/ramda.custom.js"></script>
<script src="lib/jquery.js"></script>
<script src="lib/jquery-ui.js"></script>
<script src="lib/tooltipsy.source.js"></script>
<script src="lib/angular.js"></script>
<script src="lib/angular-animate.js"></script>
<script src="lib/angular-ui-router.js"></script>
<script src="lib/sortable.js"></script>
<script src="lib/ng-infinite-scroll.js"></script>
<script src="lib/clickoutside.directive.js"></script>
<script src="lib/fuse.js"></script>
<script src="dist/template.js"></script>
<script src="modules/bootstrap/module.js"></script>
<script src="modules/user/module.js"></script>
<script src="modules/user/module.js"></script>
<script src="modules/user/user.srv.js"></script>
<script src="modules/search/module.js"></script>
<script src="modules/search/search.srv.js"></script>
<script src="modules/search/search.drv.js"></script>
<script src="modules/sources/module.js"></script>
<script src="modules/sources/list.const.js"></script>
<script src="modules/sources/list.srv.js"></script>
<script src="modules/feed/module.js"></script>
<script src="modules/feed/scrollable.drv.js"></script>
<script src="modules/feed/fetch.service.js"></script>
<script src="modules/feed/lazy-image.drv.js"></script>
<script src="modules/feed/video.drv.js"></script>
<script src="modules/sites/module.js"></script>
<script src="modules/sites/recent-sites.srv.js"></script>
<script src="modules/chrome/module.js"></script>
<script src="modules/chrome/chrome.srv.js"></script>
<script src="modules/muzli/module.js"></script>
<script src="modules/muzli/storage.srv.js"></script>
<script src="modules/muzli/social.srv.js"></script>
<script src="modules/muzli/track.srv.js"></script>
<script src="modules/muzli/experiments.srv.js"></script>
<script src="modules/muzli/utils.drv.js"></script>
<script src="modules/muzli/header.controller.js"></script>

<!-- [safari_placeholder] -->

</body>
</html>
