<div class="tile">

  <a target="_blank" ng-href="{{::item.link_out}}" class="feedLink" ng-mousedown="::postClick(item, $event)" >
    <div class="postPhoto">

      <i ng-if="item.nsfw || item.userNSFW">NSFW</i>

      <img ng-if="::!item.video && !item.youtube" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAAAMSURBVHjaYmAACDAAAAIAAU9tWeEAAAAASUVORK5CYII=" muzli-lazy="{{::item.image}}" muzli-gif="{{::item.gif}}" muzli-is-gif="{{::item.isGif}}" alt="" />

      <div class="share">
        <span class="facebook icon-facebook" ng-click="::openSharer($event, 'facebook', item)" title="Share on Facebook" title-top="true"></span>
        <span class="twitter icon-twitter" ng-click="::openSharer($event, 'twitter', item)" title="Share on Twitter" title-top="true"></span>
        <span class="linkedin icon-linkedin" ng-click="::openSharer($event, 'linkedin', item)" title="Share on LinkedIn" title-top="true"></span>
        <span class="slack icon-slack" ng-click="::sendSlack($event, item)" title="Share on Slack" title-bottom="true"></span>
      </div>

      <muzli-video ng-if="::item.video"></muzli-video>

      <span class="badge"></span>

      <div class="share-promo" ng-if="item.displaySharePromo">
        <div class="sharers">
          <h4>Nice! Maybe your friends will also enjoy this?</h4>
          <span class="facebook icon-facebook" ng-click="::openSharer($event, 'facebook', item)" title="Share on Facebook"></span>
          <span class="twitter icon-twitter" ng-click="::openSharer($event, 'twitter', item)" title="Share on Twitter"></span>
          <span class="linkedin icon-linkedin" ng-click="::openSharer($event, 'linkedin', item)" title="Share on LinkedIn"></span>
          <span class="slack icon-slack" ng-click="::sendSlack($event, item)" title="Share on Slack"></span>
        </div>
      </div>

    </div>
  </a>

  <div class="postMeta">

    <div class="postInfo">
      <h3 ng-bind="::item.title"></h3>
      <span class="source" ng-bind="::item.source.title"></span>
    </div>

    <div class="details angular-animate">

      <span class="favorite icon-fav" ng-click="::toggleFavorite($event, item)" ng-class="{ active: item.favorite }" title="Save item" title-top="true"></span>

      <div class="post-menu" ng-if="user && !user.anonymous">

        <i class="icon-menu" title="More options" title-top="true" ng-click="item.showMenu = !item.showMenu"></i>

        <ul class="dropdown" ng-if="item.showMenu" click-outside="item.showMenu = false">
          <li ng-if="!item.nsfw && !item.userNSFW"><a href="" ng-click="::markNSFW(item)">Report NSFW</a></li>
          <li ng-if="item.userNSFW"><a href="" ng-click="::unmarkNSFW(item)">Mark as SFW</a></li>
          <li><a href="" ng-click="::markHidden(item)">Hide from My feed</a></li>
        </ul>
      </div>

      <div class="stats pull-right">
        <span class="action" ng-click="::openDNlink($event, item.link_out_direct)" ng-if="item.source.name == 'designer_news' && item.external_url" title="Open discussion" title-top="true">
          <span class="icon-chat"></span>
        </span>

        <span title="Votes" title-top="true" ng-if="::item.source.name === 'producthunt'">
          <span class="icon-ph"></span>
          <span>{{::item.stats.likes || 0 | thousandSuffix:1}}</span>
        </span>

        <span title="Views" title-top="true" ng-if="::item.clicks > 0">
          <span class="icon-view"></span>
          <span>{{::item.clicks || 0 | thousandSuffix:1}}</span>
        </span>
        <span title="Shares" title-top="true">
          <span class="icon-share"></span>
          <span>{{::item.virality || 0 | thousandSuffix:1}}</span>
        </span>
      </div>

    </div>
  </div>
</div>
