<div class="home-overlay cf angular-animate"
	ng-hide="errors.length"
	ng-if="!feedVisibleClass"
	ng-class="{show: areHomeImagesLoaded}">

	<section id="quickAccess" class="max minimized angular-animate" ng-if="!feedVisibleClass" ng-class="{
		'min': showEnableAuthRecentSites === false && !recentSites,
		'max': showEnableAuthRecentSites || recentSites,
		'visible': !isSwitchedToHalfView && feedVisibleClass !== 'halfView'
		}">
		<div class="search">
			<form ng-submit="::search(searchText, $event)" id="searchForm">
				<div class="input {{defaultSearch}}">
					<input tabindex="1" maxlength="50" type="text" ng-model="searchText" id="searchBox" placeholder="Search Google or Muzli" name="q" lookahead ng-class="{active: showMuzliSearchPrompt}"/>
					<div class="searchOptions">
						<i class="icon-search"></i>
						<a href="" ng-class="{ default: defaultSearch === 'muzli', active: activeSearch === 'muzli' }" class="muzli icon-muzli" title="Muzli search" ng-click="search(searchText, $event, 'muzli')"></a>
						<a href="" ng-class="{ default: defaultSearch === 'google', active: activeSearch === 'google' }" class="google icon-google" title="Google search" ng-click="search(searchText, $event, 'google')"></a>
					</div>

				</div>
			</form>

			<div class="placeholder" ng-if="showMuzliSearchPrompt">
	          <div class="container">

	            <div class="enableMessage">
	              <p>Search by color, keyword, or even just style with the <strong> new Muzli Search</strong>- a web-wide search for design inspiration.</p>
	              <span class="privacy">You can always switch back to Google search from your settings.</span>
	            </div>

	            <a href="" class="cta" ng-click="::enableMuzliPrompt()">Use inspiration search</a>
	            <a href="" class="close" ng-click="::closeMuzliPrompt()">maybe later</a>
	          </div>
	        </div>

		</div>
		<div class="clock">
			<span class="time">{{currentTime | date:'h:mm a'}}</span>
			<span class="date">{{currentTime | date:'EEEE, MMMM d'}}</span>
		</div>
	</section>

	<section id="sticky">
		<ul class="home">
			<li ng-repeat="item in muzliFeed track by (item.id || item.link)"
				ng-class="::{
					viral: item.viral,
					video: !!item.video,
					playing: item.playing,
					animated: !!item.animated,
					nsfw: !!item.nsfw || !!item.userNSFW,
					showSharePromo: item.displaySharePromo,
					showMenu: item.showMenu,
					hidden: item.userHidden,
					}"
				data-muzli-id="{{::item.id}}"
				ng-include="'modules/muzli/card.drv.html'"
				></li>
		</ul>
	</section>

</div>

<div class="home-content angular-animate"
	ng-hide="!feedVisibleClass"
	ng-hide="errors.indexOf('all-error') > -1"
	ng-if="areHomeImagesLoaded || feedVisibleClass">

	<div class="our-picks">

		<div class="cf">
			<h2 class="latest-stories">From our picks</h2>
		</div>

		<section id="sticky">

			<!-- Sticky posts -->
			<ul class="picks" ng-if="muzliFeed.length">

				<li ng-repeat="item in muzliFeed | filterHome track by (item.id || item.link)" ng-class="::{
				viral: item.viral,
				video: !!item.video,
				playing: item.playing,
				animated: !!item.animated,
				nsfw: !!item.nsfw || !!item.userNSFW,
				showSharePromo: item.displaySharePromo,
				showMenu: item.showMenu,
				hidden: item.userHidden,
				}"
				class="angular-animate"
				data-muzli-id="{{::item.id}}"
				ng-include="'modules/muzli/card.drv.html'"></li>
			</ul>

		</section>
	</div>

	<div class="cf" ng-if="allFeed.length" ng-cloak>
		<h2 class="latest-stories pull-left" ng-hide="errors.indexOf('all-error') > -1">Latest Stories</h2>
		<div class="feedSorters pull-right">
			<a ng-click="::sortFeed('virality')" ng-class="{ active: currentFeedSort === 'virality' }" href="" title="Sort by popularity">POPULAR</a>
    		<a ng-click="::sortFeed()"ng-class="{ active: currentFeedSort !== 'virality' }" href="" title="Sort by date">RECENT</a>
		</div>
	</div>

	<scrollable-feed items="allFeed" sponsored="sponsored" ng-hide="errors.length" load-on-sort="viralTimes" show-favorite show-virality></scrollable-feed>
</div>
