<div class="pull-left version-info" ng-cloak>
	<div class="pull-left">
		<p>Environment: <strong>{{currentEnvironment}}</strong> | 
			<a ng-repeat="environment in environments" href="" ng-click="setEnvironment(environment)">{{environment}}</a> 
		</p>
		<p>API version: <strong>{{user.apiVersion}}</strong></p>
	</div>
	<div class="pull-left">
		<p>FTX:&nbsp;&nbsp;</p>
	</div>
	<div class="pull-left">
		<p>
			<a href="" ui-sref="welcome"> Trigger FTX</a>
			<a href="" ui-sref="safari"> Safari FTX</a>
			Post-config steps:
			<a href="" ng-click="vm.ftxStep = 1">1</a>
			<a href="" ng-click="vm.ftxStep = 2">2</a>
			<a href="" ng-click="vm.ftxStep = 3">3</a>
			<a href="" ng-click="vm.ftxStep = 4">4</a>
			<a href="" ng-click="vm.showFtxLast = true; vm.ftxStep = false">Final</a>
		</p>
		<p>
			<a href="" ng-click="vm.showWelcomeOld = true"> Trigger FTX (old)</a>
			<a href="" ui-sref="source-config({sortByNew: true})"> Show sources</a>
		</p>
	</div>
</div>