<div class="welcome">
	<i class="icon-muzli"></i>
	<h2>Welcome to your new tab!</h2>
	<p>Muzli by InVision is new-tab, design-oriented magazine that surfaces the most inspiring and engaging content from all your favorite websites.</p>
	<button class="cta" ng-click="$state.go('source-config', {ftx: true})">let's go</button>
	<div class="bg"></div>
</div>
