<section id="feed" class="palettes">

<ul
	infinite-scroll='::loadMore()'
	infinite-scroll-distance='::infiniteScrollDistance'
	infinite-scroll-immediate-check='false'
	infinite-scroll-disabled='!feed.length'>

	<li feed-item ng-repeat="item in feed track by (item.id || item.link)"
	ng-class="::{
		article: item.source.article && !item.video,
		visited: item.visited,
		hasStats: item.hasStats, pick: item.pick,
		feedSuggest: !!item.promotion,
		fallbackImage: item.fallbackImage,
		showSharePromo: item.displaySharePromo,
		outside: item.isOutside,
		showMenu: item.showMenu,
		}"
	class="angular-animate"
	data-muzli-id="{{::item.id}}">

		<div class="tile">

			<div class="feedLink">

				<span class="icon-image" ng-click="item.showPhoto = !item.showPhoto"></span>

				<div class="postPhoto">
					<div class="palette" style="background: {{item.palette[item.palette.length - 1]}}" ng-class="{hidden: item.showPhoto}">
						<span ng-repeat="color in item.palette"
							style="background: {{color}}"
							title-top="true"
							click-copy-color="{{::color}}"
							brightness="{{::color}}"
							prevent-click>
							{{color}}
						</span>
					</div>
					<a class="wrapper" ng-mousedown="::postClick(item, $event)" target="_blank" ng-href="{{::item.link_out}}">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAAAMSURBVHjaYmAACDAAAAIAAU9tWeEAAAAASUVORK5CYII=" muzli-lazy="{{::item.image}}" muzli-gif="{{::item.gif}}" muzli-is-gif="{{::item.isGif}}" src="" alt="" />
					</a>
				</div>

				<div class="postInfo">
					<div class="download" title="Download palette (SVG)" ng-click="downloadSVG(item, $event)">Download</div>
				</div>

			</div>

			<div class="postMeta">

				<div class="details angular-animate">

					<span class="favorite icon-fav" ng-click="::toggleFavorite($event, item)" ng-if="::showFavorite" ng-class="{ active: item.favorite }" title="Save item" title-top="true"></span>

					<div class="post-menu" ng-if="user && !user.anonymous">

						<i class="icon-menu" title="More options" title-top="true" ng-click="item.showMenu = !item.showMenu"></i>

						<ul class="dropdown" ng-if="item.showMenu" click-outside="item.showMenu = false">
							<li ng-if="!item.nsfw && !item.userNSFW"><a href="" ng-click="::markNSFW(item)">Report NSFW</a></li>
							<li ng-if="item.userNSFW"><a href="" ng-click="::unmarkNSFW(item)">Mark as SFW</a></li>
							<li><a href="" ng-click="::markHidden(item)">Hide from My feed</a></li>
						</ul>
					</div>

					<div class="stats pull-right">

						<span class="action" ng-click="::openDNlink($event, item.link_out_direct)" ng-if="item.source.name == 'designer_news' && item.external_url" title="Open discussion" title-top="true">
							<span class="icon-chat"></span>
						</span>

						<span title="Votes" title-top="true" ng-if="::item.source.name === 'producthunt'">
							<span class="icon-ph"></span>
							<span>{{::item.stats.likes || 0 | thousandSuffix:1}}</span>
						</span>

						<span title="Views" title-top="true" ng-if="::item.clicks > 0">
							<span class="icon-view"></span>
							<span>{{::item.clicks || 0 | thousandSuffix:1}}</span>
						</span>
						<span title="Shares" title-top="true">
							<span class="icon-share"></span>
							<span>{{::item.virality || 0 | thousandSuffix:1}}</span>
						</span>
	                </div>

	            </div>

			</div>
		</div>

	</li>
</ul>

<div ng-show="feed && !feed.length && !blockEmpty && !isRendering" ng-transclude="no-data">
</div>

<ul class="dummy" ng-show="!feed">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

</section>
