<section id="feed"><!-- Feed posts -->

<ul
	infinite-scroll='::loadMore()'
	infinite-scroll-distance='::infiniteScrollDistance'
	infinite-scroll-immediate-check='false'
	infinite-scroll-disabled='!feed.length'>

	<li class="sponsored show" ng-if="feed.length && sponsored">

		<div class="tile">
			<a target='_blank' class="feedLink" ng-href="{{::sponsored.link}}" ng-click="::promotionClick()">
				<div class="postPhoto">
					<img ng-if="!sponsored.image || !sponsored.active" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAAAMSURBVHjaYmAACDAAAAIAAU9tWeEAAAAASUVORK5CYII=" alt=""/>
					<img ng-if="sponsored.image && sponsored.active" ng-src="{{::sponsored.image}}" alt=""/>
					<img class="beacon" style="visibility: hidden;" ng-src="{{::sponsored.beacon}}" ng-if="showAdPixel" alt=""/>
				</div>
				<div class="postInfo">
					<h3>{{::sponsored.name}}</h3>

				</div>
				<h4>PROMOTED</h4>
			</a>
		</div>
	</li>

	<li feed-item ng-repeat="item in feed track by (item.id || item.link)"
	ng-class="::{
		article: item.source.article && !item.video,
		visited: item.visited,
		viral: !!item.viralTimes,
		hasStats: item.hasStats, pick: item.pick,
		animated: !!item.animated,
		'inline-video': !!item.htmlVideo,
		video: !!item.video,
		playing: item.playing,
		vlog: !!item.sub_source,
		nsfw: !!item.nsfw || !!item.userNSFW,
		feedSuggest: !!item.promotion,
		fallbackImage: item.fallbackImage,
		showSharePromo: item.displaySharePromo,
		outside: item.isOutside,
		showMenu: item.showMenu,
		}"
	class="angular-animate"
	data-muzli-id="{{::item.id}}">

		<div class="tile">

			<a target="_blank" ng-href="{{::item.link_out}}" class="feedLink" ng-mousedown="::postClick(item, $event)">

				<div class="postPhoto" >

					<i ng-if="item.nsfw || item.userNSFW">NSFW</i>

					<img ng-if="::!item.video" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAAAMSURBVHjaYmAACDAAAAIAAU9tWeEAAAAASUVORK5CYII=" muzli-lazy="{{::item.image}}" muzli-gif="{{::item.gif}}" muzli-is-gif="{{::item.isGif}}" src="" alt="" />

					<video ng-if="::item.htmlVideo" ng-src="{{::item.htmlVideo}}" video-loader playsinline autoplay loop muted></video>

					<div class="share">
						<span class="facebook icon-facebook" ng-click="::openSharer($event, 'facebook', item)" title="Share on Facebook" title-top="true"></span>
						<span class="twitter icon-twitter" ng-click="::openSharer($event, 'twitter', item)" title="Share on Twitter" title-top="true"></span>
						<span class="linkedin icon-linkedin" ng-click="::openSharer($event, 'linkedin', item)" title="Share on LinkedIn" title-top="true"></span>
						<span class="slack icon-slack" ng-click="::sendSlack($event, item)" title="Share on Slack" title-bottom="true"></span>
					</div>

					<muzli-video ng-if="::item.video" ng-click="::videoClick(item, $event)"></muzli-video>

					<div class="share-promo" ng-if="item.displaySharePromo">
						<div class="sharers">
							<h4>Nice! Maybe your friends will also enjoy this?</h4>
							<span class="facebook icon-facebook" ng-click="::openSharer($event, 'facebook', item)" title="Share on Facebook"></span>
							<span class="twitter icon-twitter" ng-click="::openSharer($event, 'twitter', item)" title="Share on Twitter"></span>
							<span class="linkedin icon-linkedin" ng-click="::openSharer($event, 'linkedin', item)" title="Share on LinkedIn"></span>
							<span class="slack icon-slack" ng-click="::sendSlack($event, item)" title="Share on Slack"></span>
						</div>
					</div>

					<span class="badge"></span>

				</div>

				<div class="postInfo">

					<div class="source-wrapper">

						<span class="source" title="{{::item.tooltip}}"
						ui-sref="feed(::{ name: item.source.name })"
						ng-click="::sourceClick($event, item.source.name)"
						ng-style="::{'background-image': 'url(images/icon_{{item.source.name}}.png)'}"
						title="::item.source.title"></span>

						<span class="vlogUser" title="{{::item.sub_source.title}}"
						ng-if="::item.sub_source"
						ng-style="::{'background-image': 'url(images/icon_{{item.sub_source.name}}.png)'}"
						data-name="{{::item.sub_source.title}}"></span>

					</div>

					<div class="palette" ng-if="::item.palette && !item.source.article && enablePalettes">

						<div ng-click="downloadSVG(item, $event)" class="icon-download" title="Download palette (SVG)"></div>

						<span ng-repeat="color in item.palette"
							style="background: {{color}}; border-color: {{color}}"
							title="{{copySuccess ? 'Copied' : color}}"
							title-top="true"
							click-copy-color="{{::color}}"
							prevent-click>
						</span>
					</div>

					<h3 ng-bind="::item.title"></h3>
					<span class="created">{{item.created | timeAgo}}</span>
				</div>
			</a>

			<div class="postMeta">

				<div class="details angular-animate">

					<span class="favorite icon-fav" ng-click="::toggleFavorite($event, item)" ng-if="::showFavorite" ng-class="{ active: item.favorite }" title="Save item" title-top="true"></span>

					<div class="post-menu" ng-if="user && !user.anonymous">

						<i class="icon-menu" title="More options" title-top="true" ng-click="item.showMenu = !item.showMenu"></i>

						<ul class="dropdown" ng-if="item.showMenu" click-outside="item.showMenu = false">
							<li ng-if="!item.nsfw && !item.userNSFW"><a href="" ng-click="::markNSFW(item)">Report NSFW</a></li>
							<li ng-if="item.userNSFW"><a href="" ng-click="::unmarkNSFW(item)">Mark as SFW</a></li>
							<li><a href="" ng-click="::markHidden(item)">Hide from My feed</a></li>
						</ul>
					</div>

					<div class="stats pull-right">

						<span class="action" ng-click="::openDNlink($event, item.link_out_direct)" ng-if="item.source.name == 'designer_news' && item.external_url" title="Open discussion" title-top="true">
							<span class="icon-chat"></span>
						</span>

						<span title="Votes" title-top="true" ng-if="::item.source.name === 'producthunt'">
							<span class="icon-ph"></span>
							<span>{{::item.stats.likes || 0 | thousandSuffix:1}}</span>
						</span>

						<span title="Views" title-top="true" ng-if="::item.clicks > 0">
							<span class="icon-view"></span>
							<span>{{::item.clicks || 0 | thousandSuffix:1}}</span>
						</span>
						<span title="Shares" title-top="true">
							<span class="icon-share"></span>
							<span>{{::item.virality || 0 | thousandSuffix:1}}</span>
						</span>
	                </div>

	            </div>

			</div>
		</div>

	</li>
</ul>

<div ng-show="feed && !feed.length && !blockEmpty && !isRendering" ng-transclude="no-data">
</div>

<ul class="dummy" ng-show="!feed">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

</section>
