<div class="cf">

  <h2 ng-cloak ng-if="currentSource.name">
    <span title="{{currentSource.description}}">{{currentSource.title}}</span>
    <a ng-if="['vlogs'].indexOf(currentSource.name) === -1" title="Go to {{currentSource.title}}'s website" href="http://app.muz.li/go?link=http://{{currentSource.url}}" class="titleLink"></a>
  </h2>

  <div class="feedSorters pull-right" ng-if="['search', 'favorites'].indexOf(currentSource) === -1 && ['vlogs', 'dribbble', 'producthunt', 'colors'].indexOf(currentSource.name) === -1" ng-cloak>
    <a ng-click="::sortFeed('virality')" ng-class="{ active: currentFeedSort === 'virality' }" href="" title="Sort by popularity">POPULAR</a>
    <a ng-click="::sortFeed()"ng-class="{ active: currentFeedSort !== 'virality' }" href="" title="Sort by date">RECENT</a>
  </div>

  <div class="colors-cta" ng-if="currentSource.name === 'colors'">
    <a href="https://search.muz.li/color-palette-generator"><i class="icon-plus"></i></a>
  </div>

</div>

<scrollable-feed items="items" ng-hide="errors.length" sponsored="sponsored" load-on-sort show-favorite show-virality>
  <scrollable-feed-no-data>
    <div id="oops">No items yet today <a href="" ng-click="::reload()">Try again</a>.</div>
  </scrollable-feed-no-data>
</scrollable-feed>
